@{
    ViewData["Title"] = "Welcome";
}

<div class="home-welcome">
    <h1 class="page-title">2019년 2월 모임</h1>

    <h3 class="home-welcome__description-title-main">Azure DevOps 101 by <a href="https://www.linkedin.com/in/dan-dongcheol-lee">Justin Yoo</a></h3>
    <p class="home-welcome__description-text">
        Justin will give a talk about how to manage project using Azure DevOps.
        Azure DevOps is the tool help project management, code management, CI/CD, test management and package management
    </p>

    <h3 class="home-welcome__description-title-main">Azure DevOps 101 by <a href="https://www.linkedin.com/in/dan-dongcheol-lee">유정협</a></h3>
    <p class="home-welcome__description-text">
        Azure DevOps는 프로젝트 매니지먼트, 코드 매니지먼트, CI/CD, 테스트 매니지먼트, 패키지 매니지먼트 등을 한꺼번에 아우르는 SaaS 기반 도구입니다. Azure DevOps를 통해 손쉽게 전체 프로젝트를 관리할 수 있는 방법에 대해 알아보겠습니다.
    </p>

    <h4 class="home-welcome__description-title">시간</h4>
    <ul class="home-welcome__description-items">
        <li class="home-welcome__description-item">2019년 2월 18일 오후 5:30 ~ 8:30</li>
    </ul>

    <h4 class="home-welcome__description-title">장소</h4>
    <ul class="home-welcome__description-items home-welcome__description-items--venue">
        <li class="home-welcome__description-item">Deloitte Australia, Level 6, 550 Bourke Street</li>
    </ul>
    
    <div class="map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.913041108837!2d144.95514511540293!3d-37.81550577975207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642ca33455a5f%3A0xe53bdf48bda22f67!2sDeloitte+Australia!5e0!3m2!1sen!2sau!4v1539033797869" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <h4 class="home-welcome__description-title home-welcome__description-title--note">Note</h4>
    <ul class="home-welcome__description-items">
        <li class="home-welcome__description-item">만일의 경우 <a class="home-welcome__whatsapp-link" href="http://bit.ly/mel-ko-dev" target="_blank">왓츠앱</a>이나 권효중(0401 757 089)에게 메세지를 남겨주세요 </li>
    </ul>

</div>
