@{
    ViewData["Title"] = "Welcome";
}

<div class="home-welcome">
    <h1 class="page-title">2018년 11월 모임</h1>

    <h3 class="home-welcome__description-title-main">Using DSL in Kotlin for Java Libraries by <a href="https://www.linkedin.com/in/dan-dongcheol-lee">Dan Lee</a></h3>
    <p class="home-welcome__description-text">
        Continuing from the last talk - DDD 101, Dan Lee talks about how to use ubiquitous language for development in Kotlin. During this session, he uses DSL in Kotlin to make use of Java libraries with some boilerplate codes. At the same time, he will introduce some GCP features and Apache Beam.
    </p>

    <h3 class="home-welcome__description-title-main">Kotlin에서 자바 라이브러리를 사용하기 위해 만드는 DSL 소개 by <a href="https://www.linkedin.com/in/dan-dongcheol-lee">이동철</a></h3>
    <p class="home-welcome__description-text">
        지난번 소개했던 DDD 101 시간에 이어 이동철님께서 Kotlin 언어로 개발할 때 어떻게 유비쿼터스 언어를 사용하는지, 또한 이를 위해 DSL을 어떻게 생성하는지에 대한 방법을 소개합니다. 이 DSL은 Java 언어로 작성된 라이브러리들을 Kotlin 안에서 함께 사용할 수 있게 하기 위함인데요, 세션 중간에 구글 클라우드 플랫폼의 기능과 아파치 Beam에 대한 소개도 곁들여집니다.
    </p>

    <h4 class="home-welcome__description-title">시간</h4>
    <ul class="home-welcome__description-items">
        <li class="home-welcome__description-item">2018년 11월 19일 오후 5:30 ~ 8:30</li>
    </ul>

    <h4 class="home-welcome__description-title">장소</h4>
    <ul class="home-welcome__description-items home-welcome__description-items--venue">
        <li class="home-welcome__description-item">Deloitte Australia, Level 11, 550 Bourke Street</li>
    </ul>
    
    <div class="map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.913041108837!2d144.95514511540293!3d-37.81550577975207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642ca33455a5f%3A0xe53bdf48bda22f67!2sDeloitte+Australia!5e0!3m2!1sen!2sau!4v1539033797869" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <h4 class="home-welcome__description-title home-welcome__description-title--note">Note</h4>
    <ul class="home-welcome__description-items">
        <li class="home-welcome__description-item">10층까지 무사히 올라오셨으면 리셉션에서 Alex Park 또는 Justin Yoo를 말씀하시면 장소를 안내해 드릴겁니다</li>
        <li class="home-welcome__description-item">만약 10층까지 못올라오실것 같으면 <a class="home-welcome__whatsapp-link" href="http://bit.ly/mel-ko-dev" target="_blank">왓츠앱</a>이나 권효중(0401 757 089)에게 메세지를 남겨주세요 </li>
    </ul>

</div>
