<pre>
import <span class="keyword">Join</span> from './JoinHOC'
import <span class="keyword">KoreanDevlelopersAustralia</span> from './KorDevAus'

const <span class="keyword">Welcome</span> = ({ 
    inAustralia, 
    areYouDev, 
    speakKorean 
}) => <span class="name">inAustralia</span> && 
        <span class="name">areYouDev</span> && 
      <span class="name">speakKorean</span> && 
    <span class="keyword">&lt;KoreanDevlelopersAustralia /&gt;</span>


return <span class="keyword"><a class="join" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignIn">Join(<span class="name">Welcome</span>)</a></span>
</pre>