<div class="home-about">
    <h1 class="page-title">What we're about</h1>

    <h3 class="home-about__description-title-main">저희는 멜번에서 지난 2016년 2월을 시작으로 꾸준히 소프트웨어 개발의 다양한 영역에 관해 공유하는 모임을 갖고 있습니다.</h3>

    <h4 class="home-about__description-title">이 그룹은</h4>
    <ul class="home-about__description-items">
        <li class="home-about__description-item">개발직군에 종사하시는 분들,</li>
        <li class="home-about__description-item">한국어 구사 가능하신 분들, 그리고</li>
        <li class="home-about__description-item">새로운 기술들을 알고 싶고 공유하고 싶은 분들을 위한 곳입니다.</li>
    </ul>

    <h4 class="home-about__description-title">This is a group for those who:</h4>
    <ul class="home-about__description-items">
        <li class="home-about__description-item">are in software development industry,</li>
        <li class="home-about__description-item">are speaking Korean, and</li>
        <li class="home-about__description-item">are willing to know and share the latest and newest technologies.</li>
    </ul>

</div>
