@{
    ViewData["Title"] = "Korean Developers Melbourne";
    Layout = "_LayoutHome";
}

<div class="home-index">

    <div class="hello">
        <h1>이곳은 멜번에 거주하는 한인 소프트웨어 개발자들의 공간입니다</h1>
        <div class="action-buttons">
            <button class="btn btn-join">자세히 보기</button>
        </div>
    </div>

    <pre>
import <span class="keyword">Join</span> from './JoinHOC'
import <span class="keyword">KoreanDevlelopersMelbourne</span> from './KorDevMelbourne'

const <span class="keyword">Welcome</span> = ({ 
    inMelbourne, 
    areYouDev, 
    speakKorean 
}) => <span class="name">inMelbourne</span> && 
        <span class="name">areYouDev</span> && 
      <span class="name">speakKorean</span> && 
    <span class="keyword">&lt;KoreanDevlelopersMelbourne /&gt;</span>


return <span class="keyword"><a class="join" href="/join">Join(<span class="name">Welcome</span>)</a></span>
    </pre>
</div>

@section scripts {
    <script>
        (function() {
            $('pre').mouseover(function() {
                $('.join').addClass('animated shake');
            })
        })()
    </script>
}


