<div class="home-index">

    <div class="home-index__descrption">
        <h1 class="home-index__title">이곳은 호주에 거주하는 한인 소프트웨어 개발자들의 공간입니다</h1>
        <div class="action-buttons">
            <a asp-controller="Home" asp-action="About" class="btn btn-join">자세히 보기</a>
        </div>
    </div>

    <partial name="_CodeSnippet" />

    <div id="app"></div>
    
</div>

@section scripts {
    <!-- <script>
        $(function() {
            $('pre').mouseover(function() {
                $('.join').addClass('animated shake');
            })
        })
    </script> -->
}


