.home-welcome__description-title {
	margin: 40px 0 0 0;
}

.home-welcome__description-title-main {
	margin: 20px 0 40px 0;
	line-height: 1.3;
	word-break: keep-all;
	font-size: 20px;
}

.home-welcome__description-text {
	font-size: 16px;
	line-height: 1.7;
}

.home-welcome__description-items {
	margin: 0 0 50px 0;
}

.home-welcome__description-items--venue {
	margin-bottom: 0;
}

.home-welcome__description-title--note {
	margin-top: 50px;
}

.home-welcome__description-item {
	margin: 10px 0;
}

.home-welcome__whatsapp-link {
	text-decoration: underline;
}

.map-wrapper {
	width: 100%;
}

@media(min-width: 768px) {
	.home-welcome__description-title-main {
		margin: 40px 0 10px 0;
		line-height: 1.6;
		font-size: 24px;
	}

	.home-welcome__description-text {
		max-width: 60%;
	}

	.map-wrapper {
		width: 500px;
	}
}
