html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 92px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #000;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #fff;
}

.page-title {
    display: inline-block;
    margin: 20px 0;
    padding: 0 10px 10px 5px;
    border-bottom: solid 1px #aaa;
    font-size: 2.5rem;
}

.link-to-github {
    background-color: transparent;
    border-radius: 30px;
    border: solid 1px #fff;
    padding: 10px 30px;
    color: #fff;
    margin: 20px 0;
    display: inline-block;
}

.link-to-github:hover {
    color: #fff;
}

.need-help {
    margin-top: 10vh;
    text-align: center;
}