<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Korean Developers Australia</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Meetups" asp-action="List">지난 모임들</a></li>
                <li><a asp-area="" asp-controller="Members" asp-action="List">멤버</a></li>
                <li><a asp-area="" asp-controller="Photos" asp-action="List">갤러리</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>